/* Generic elements */
/* =========================== */
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;	
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 0;
}

/* Links */
/* =========================== */
a {
  color: #2b32b2;
  text-decoration: underline;
}

ul a {
  text-decoration: none;
}

h1 a {
  color: #161959;
  text-decoration: none;	
}

a:hover {
  color: #1488cc;
  text-decoration: underline;
}

.logo, .logo:hover {
  color: #fafafa;
  text-decoration: none;	
}

/* Add a gray background color with some padding */
body {
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #161959;
  background: #eaebf7;
}

/* Header */
/* =========================== */
.header {
  padding: 5px;
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  color: #fafafa;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2b32b2 30%, #1488cc 100%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2b32b2 30%, #1488cc 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.header h2 {
  margin: 0.5em 0 0 0;
}

.header p {
  font-size: 0.5em;
  margin-bottom: 2.5em;
}

/* Content layout */
/* =========================== */
.row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Image */
.headerimg {
  max-width: 100%;
}

.img-gradient {
  max-width: 100%;
  margin-bottom: 50px;
}

.img-gradient::after {
  display: block;
  position: relative;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));
  margin-top: -50px;
  height: 50px;
  width: 100%;
  content: '';
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 5px 20px 20px 20px;
   margin-top: 20px;
}

.center {
  text-align: center;	
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fa-fw {
  margin-right: 5px;
}

/* Footer */
/* =========================== */
.footer {
  margin: 50px 0 0 0;
  padding: 20px 0;
  background: #f0d5e3;
  background: -webkit-linear-gradient(to top, #f0d5e3, #d180ac); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f0d5e3, #d180ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Quote */
.quote {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  color: #12040c;
  text-align: left;
}

.attribute {
  padding: 1em 0;
  font-size: 0.9em;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  text-align: right;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/* =========================== */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

  .header {
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .img-gradient::after {
    margin-top: -30px;
    height: 30px;

  .footer {
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  }
}


